
.box-cal {
    direction: rtl;
}

.box-cal a{
    font-size: 35px;
    transition: 0.3s all;
    margin: 5px;
    cursor: pointer;
}

.box-cal a:hover {
    color: #f1c40f;
}

.b1:hover ~ a{
    color: #f1c40f;
}
.b2:hover ~ a{
    color: #f1c40f;
}
.b3:hover ~ a{
    color: #f1c40f;
}
.b4:hover ~ a{
    color: #f1c40f;
}
.b5:hover ~ a{
    color: #f1c40f;
}