<!-- <h1 mat-dialog-title>Que te ha parecido {{data.name}}</h1>
<div mat-dialog-content class="text-center">
  <p>{{data.pregunta}}</p>
  <div class="box-cal">
    <a (click)="onNoClick(5)" class="ion-android-star b1"></a>
    <a (click)="onNoClick(4)" class="ion-android-star b2"></a>
    <a (click)="onNoClick(3)" class="ion-android-star b3"></a>
    <a (click)="onNoClick(2)" class="ion-android-star b4"></a>
    <a (click)="onNoClick(1)" class="ion-android-star b5"></a>
  </div>
</div> -->
<div *ngIf="!isloggued; else cal">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{data.titleNotLoggued}}</mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <div class="text-center">
          <button (click)="link(1)" mat-button><i class="fas fa-sign-in-alt"></i> Inicial Sesion</button>
          <button (click)="link(2)" mat-button><i class="fas fa-user-plus"></i> Registrarse</button>
        </div>
      </mat-card-content>
  </mat-card>
</div>
<ng-template #cal>
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step>
          <div class="text-center">
            <h3>Quieres calificar {{data.restaurante.name}}?</h3>
          </div>
          <div class="text-center">
            <button mat-button (click)="stepper.next()">Si</button>
            <button mat-button (click)="onNoClick()">No</button>
          </div>
        </mat-step>
        <mat-step>
          <div class="text-center">
            <p>Que tal la comida?</p>
            <div class="box-cal">
              <a (click)="calificar(1,5,stepper)" class="ion-android-star b1"></a>
              <a (click)="calificar(1,4,stepper)" class="ion-android-star b2"></a>
              <a (click)="calificar(1,3,stepper)" class="ion-android-star b3"></a>
              <a (click)="calificar(1,2,stepper)" class="ion-android-star b4"></a>
              <a (click)="calificar(1,1,stepper)" class="ion-android-star b5"></a>
            </div>
          </div>
        </mat-step >
        <mat-step>
          <div mat-dialog-content class="text-center">
            <p>Que tal el servicio?</p>
            <div class="box-cal">
              <a (click)="calificar(2,5, stepper)" class="ion-android-star b1"></a>
              <a (click)="calificar(2,4, stepper)" class="ion-android-star b2"></a>
              <a (click)="calificar(2,3, stepper)" class="ion-android-star b3"></a>
              <a (click)="calificar(2,2, stepper)" class="ion-android-star b4"></a>
              <a (click)="calificar(2,1, stepper)" class="ion-android-star b5"></a>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <div mat-dialog-content class="text-center">
            <p>Que tal la experiencia?</p>
            <div class="box-cal">
              <a (click)="calificar(3,5, stepper)" class="ion-android-star b1"></a>
              <a (click)="calificar(3,4, stepper)" class="ion-android-star b2"></a>
              <a (click)="calificar(3,3, stepper)" class="ion-android-star b3"></a>
              <a (click)="calificar(3,2, stepper)" class="ion-android-star b4"></a>
              <a (click)="calificar(3,1, stepper)" class="ion-android-star b5"></a>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <div mat-dialog-content class="text-center">
            <p>Que tal la limpieza?</p>
            <div class="box-cal">
              <a (click)="calificar(4,5, stepper)" class="ion-android-star b1"></a>
              <a (click)="calificar(4,4, stepper)" class="ion-android-star b2"></a>
              <a (click)="calificar(4,3, stepper)" class="ion-android-star b3"></a>
              <a (click)="calificar(4,2, stepper)" class="ion-android-star b4"></a>
              <a (click)="calificar(4,1, stepper)" class="ion-android-star b5"></a>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <div mat-dialog-content class="text-center">
            <p>Que tal la ubicacion?</p>
            <div class="box-cal">
              <a (click)="calificar(5,5, stepper)" class="ion-android-star b1"></a>
              <a (click)="calificar(5,4, stepper)" class="ion-android-star b2"></a>
              <a (click)="calificar(5,3, stepper)" class="ion-android-star b3"></a>
              <a (click)="calificar(5,2, stepper)" class="ion-android-star b4"></a>
              <a (click)="calificar(5,1, stepper)" class="ion-android-star b5"></a>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
</ng-template>

