<mat-tab-group *ngFor="let restaurante of restaurantes" style="max-width: 800px; margin-top: 10px">
  <mat-tab label="Informacion" style="width: auto">
    <mat-card class="example-card text-center" style="background-color: none">
      <h2>{{restaurante.name}}</h2>
      <img src="{{restaurante.imagen}}" alt="Photo of a Shiba Inu" class="w-50 h-50">
      <mat-card-content>
        <p>
          {{restaurante.eslogan}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="imagenRestaurante(restaurante._id)">LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="Comentarios" style="width: auto"> Content 2 </mat-tab>
  <mat-tab label="Visitar" style="width: auto"> {{restaurante.informacion}} </mat-tab>

</mat-tab-group>
