<mat-tab-group *ngFor="let restaurante of restaurantes" style="max-width: 600px; margin-top: 10px">
  <mat-tab label="Informacion" style="width: auto">
    <div>
      <app-restaurante [restaurante]="restaurante"></app-restaurante>
    </div>
  </mat-tab>
  <mat-tab label="Comentarios" style="width: auto">
    <app-comments [restauranteId]="restaurante._id" [user]="user"></app-comments>
  </mat-tab>
  <mat-tab label="Visitar" style="width: auto">
    <div style="height: 300px">
      <mat-card style="height: inherit">
        {{restaurante.direccion}}
      </mat-card>
    </div>
  </mat-tab>

</mat-tab-group>
