<mat-tab-group *ngFor="let restaurante of restaurantes" style="max-width: 800px; margin-top: 10px">
  <mat-tab label="Informacion" style="width: auto">
    <div>
      <mat-card style="background-color: none" class="text-center">
        <h2>{{restaurante.name}}</h2>
        <img src="{{restaurante.imagen}}" alt="Photo of a Shiba Inu" class="w-50 h-50">
        <mat-card-content>
          <p>
            {{restaurante.eslogan}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="dialogCalificar(restaurante)">Calificar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Comentarios" style="width: auto">
    <app-comments [restauranteId]="restaurante._id"></app-comments>
  </mat-tab>
  <mat-tab label="Visitar" style="width: auto">
    <div style="height: 300px">
      <mat-card style="height: inherit">
          {{restaurante.direccion}}
      </mat-card>
    </div>
  </mat-tab>

</mat-tab-group>
