<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>
        <mat-icon class="example-icon">room_service</mat-icon>
        <span><b>Tumer</b></span>
    </button>
    <button mat-button>
      <span>Inicio</span>
    </button>
    <button mat-button>
        <span>Mejor Rank</span>
      </button>
    <span class="example-spacer"></span>
    <a mat-stroked-button routerLink="." class="example-icon">Iniciar Sesion</a>
    <a mat-stroked-button routerLink="." class="example-icon" routerLink="/register">Registrarme</a>
</mat-toolbar-row>
