<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/home" class="example-icon">
      <mat-icon class="example-icon mr-2">room_service</mat-icon>
      <span><b>Tumer</b></span>
    </a>
    <div *ngIf="!logued">
      <a mat-button routerLink="/home" class="example-icon">Inicio</a>
      <a mat-button routerLink="/home" class="example-icon">Mejor Rank</a>
    </div>
    <div *ngIf="logued && usuario.type === 1">
      <a mat-button routerLink="/addRestaurante" class="example-icon">Agregar Restaurante</a>
      <a mat-button routerLink="/home" class="example-icon">Ver Reportes</a>
    </div>
    <span class="example-spacer"></span>
    <div *ngIf="!logued">
      <a mat-stroked-button routerLink="/login" class="example-icon">Iniciar Sesion</a>
      <a mat-stroked-button routerLink="/register" class="example-icon">Registrarme</a>
    </div>
    <a mat-button class="example-icon" *ngIf="logued" (click)="logout()">
      <mat-icon class="example-icon mr-3">account_circle</mat-icon>
      <span><b>{{usuario.name.split(' ')[0]}}</b></span>
    </a>
  </mat-toolbar-row>
</mat-toolbar> -->
<mat-toolbar color="primary" style="position: fixed; z-index: 2">
  <mat-toolbar-row>
    <div style="width: inherit" class="d-flex">
      <div>
        <button mat-icon-button (click)="drawer.toggle()" class="icon-menu">
          <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="/home" class="example-icon">
          <mat-icon class="example-icon mr-2">room_service</mat-icon>
          <span><b>Tumer</b></span>
        </a>
      </div>
      <div>
        <div *ngIf="!logued" class="option">
          <a mat-button routerLink="/home" class="example-icon">Inicio</a>
          <a mat-button routerLink="/bestRank" class="example-icon">Mejor Rank</a>
        </div>
        <div *ngIf="logued && usuario.type === 1" class="option">
          <a mat-button routerLink="/addRestaurante" class="example-icon">Agregar Restaurante</a>
          <a mat-button routerLink="/home" class="example-icon">Ver Reportes</a>
        </div>
      </div>
      <div *ngIf="activedSearch" (mouseenter)="mostrarInput()" (mouseleave)="mostrarInput()">
        <form (submit)="search($event)">
          <input [(ngModel)]="searchContent" name="searchContent" type="text" [ngStyle]="{'width': noSearch ? '0%': '100%', 'transition': '0.5s', 'background': 'none', 'font-size': '15px', 'border': 'none', 'color': 'white'}"
            placeholder="Buscar nombre">
          <button type="submit" mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>
      <div class="w-100 d-flex flex-row-reverse">
        <div *ngIf="!logued" class="option" style="direction: ltr">
          <a mat-stroked-button routerLink="/login" class="example-icon">Iniciar Sesion</a>
          <a mat-stroked-button routerLink="/register" class="example-icon">Registrarme</a>
        </div>
        <button [matMenuTriggerFor]="navbarMenu" mat-button class="example-icon option" *ngIf="logued">
          <mat-icon class="example-icon mr-3">account_circle</mat-icon>
          <span><b>{{usuario.name.split(' ')[0]}}</b></span>
        </button>
        <mat-menu #navbarMenu>
          <button mat-menu-item routerLink="/profile" (click)="goProfile()">Perfil</button>
          <button mat-menu-item (click)="logout()">Cerrar sesion</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize [hasBackdrop]="false">
  <mat-sidenav [fixedInViewport]="true" #drawer class="example-sidenav" mode="over" class="drawer2" [fixedTopGap]="56">
    <div class="cnavbar-drawer-header">
      <div class="text-right w-100">
        <button mat-icon-button (click)="drawer.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="!logued" class="option-drawer" style="direction: ltr">
      <a mat-stroked-button routerLink="/login" class="sidenav-btn-login">Iniciar Sesion</a>
      <a mat-stroked-button routerLink="/register" class="sidenav-btn-signup">Registrarme</a>
    </div>
    <button [matMenuTriggerFor]="navbarMenu" mat-button class="example-icon option-drawer" *ngIf="logued">
      <mat-icon class="example-icon mr-3">account_circle</mat-icon>
      <span><b>{{usuario.name.split(' ')[0]}}</b></span>
    </button>
    <mat-menu #navbarMenu>
      <button mat-menu-item routerLink="/profile" (click)="goProfile()">Perfil</button>
      <button mat-menu-item (click)="logout()">Cerrar sesion</button>
    </mat-menu>
    <mat-list class="ncavbar-optionlist">
      <mat-list-item *ngIf="usuario && usuario.type === 1">
        <button mat-button routerLink="/addRestaurante">Agregar Restaurante</button>
      </mat-list-item>
      <mat-list-item *ngIf="usuario && usuario.type === 1">
        <button mat-button routerLink="/reports">Ver reportes</button>
      </mat-list-item>
    </mat-list>
    <mat-selection-list #filters *ngIf="showFilter">
      <h4 matSubheader>Filtrar</h4>
      <mat-list-option>Comida</mat-list-option>
      <mat-list-option>Servicio</mat-list-option>
      <mat-list-option>Experiencia</mat-list-option>
      <mat-list-option>Limpieza</mat-list-option>
      <mat-list-option>Ubicacion</mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content style="overflow: hidden">

    <ng-content class="h-auto">
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
