<mat-card>
    <mat-card-header>
      <div mat-card-avatar><i class="fas fa-user-circle" style="font-size: 30px;"></i></div>
      <mat-card-title><b>{{comentario.user.name}} {{comentario.user.last_name}}</b></mat-card-title>       
    </mat-card-header>
    <mat-card-content>
      <p>
          {{comentario.contenido}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button (click)="reaccionar(1)" matBadge="{{reacciones.likes}}" matBadgePosition="before"><i class="fas fa-thumbs-up" [ngClass]="{'text-success': miReaccion.like}"></i></button>
        <button mat-icon-button (click)="reaccionar(2)" matBadge="{{reacciones.dislikes}}"><i class="fas fa-thumbs-down" [ngClass]="{'text-danger': miReaccion.dislike}"></i></button>
    </mat-card-actions>      
  </mat-card>
