<div style="height: 300px">
  <mat-card style="height: auto">
    <mat-card-title>Comments</mat-card-title>
    <mat-card-content style="height: inherit" class="d-block">
      <div>
        <mat-form-field style="width: 100%">
          <textarea matInput placeholder="Add Comment" [(ngModel)]="comentario"></textarea>
        </mat-form-field>
        <div class="d-flex justify-content-end">
            <button mat-flat-button color="primary" class="mb-2" (click)="agregarComentario()">Comment</button>
        </div>       
      </div>
      <div class="row">
        <mat-card class="col-md-5 col-sm-12 m-2" *ngFor="let comentario of comentarios">
          <mat-card-header>
            <div mat-card-avatar><i class="fas fa-user-circle" style="font-size: 30px;"></i></div>
            <mat-card-title><b>{{comentario.user.name}} {{comentario.user.last_name}}</b></mat-card-title>       
          </mat-card-header>
          <mat-card-content>
            <p>
                {{comentario.contenido}}
            </p>
          </mat-card-content>
          <mat-card-actions>
              <button mat-button><i class="fas fa-thumbs-up"></i></button>
              <button mat-button><i class="fas fa-thumbs-down"></i></button>
          </mat-card-actions>      
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
