<div style="height: 300px">
  <mat-card style="height: auto">
    <mat-card-title>Comments</mat-card-title>
    <mat-card-content style="height: inherit" class="d-block">
      <div>
        <mat-form-field style="width: 100%">
          <textarea matInput placeholder="Add Comment" [(ngModel)]="comentario"></textarea>
        </mat-form-field>
        <div class="d-flex justify-content-end">
            <button mat-flat-button color="primary" class="mb-2" (click)="agregarComentario()">Comment</button>
        </div>       
      </div>
      <div class="row">
        <div class="col-md-12 my-2" *ngFor="let comentario of comentarios">
          <app-comment [comentario]="comentario"></app-comment>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
